/* _style.css by Daniel Pullan */


:root {
  /* Titles use secondary colour, body text uses primary, things like code comments use tertiary */
  /* Change colours in :root as you can theme your own version with your own colours quickly */
  /* 404552 old bg */
  --background: #161d20;
  --primary_colour: #fff;
  --secondary_colour: #5294e2;
  --title_font: 'Fira Sans', sans-serif;
  --body_font: 'Fira Sans', sans-serif;
}

html {
  background: var(--background);
}

body {
  font-family: var(--body_font);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: var(primary_colour);
  background: var(--background);
}

a {
  color: var(--secondary_colour);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:focus, a:active {
  color: var(--secondary_colour);
  outline: none;
  text-decoration: none;
}

input[type=text]{
  color: var(--primary_colour);
  background-color: var(--background);
  padding: 1rem;
  font-size: 1.4rem;
  width: 100%;
}

input[type=submit]{
  color: var(--primary_colour);
  background-color: var(--background);
  padding: 1rem;
  height: 3rem;
  margin-top: 2.4rem;
  width: 8%;
}

input[type=password]{
  color: var(--primary_colour);
  background-color: var(--background);
  padding: 1rem;
  font-size: 1.4rem
}

input[type=number]{
  color: var(--primary_colour);
  background-color: var(--background);
  padding: 1rem;
  font-size: 1.4rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title_font);
}

h1 {
  font-size: 42px;
  margin-bottom: 0px;
  text-decoration: none;
}

h2 {
  color: var(--primary_colour);
}

p {
  color: var(--primary_colour);
  font-size: 1rem
}

span{
  font-size: 2rem;
}

li {
  color: var(--primary_colour);
}

code {
  color: var(--primary_colour);
}

strong {
  color: var(--primary_colour);
}

.img-responsive {
  max-height: 100%;
  max-width: 100%;
}

.logo {
  max-height: 150px;
}

figure {
  -webkit-margin-start: 0px
}

.articleGrid {
  margin-left: 10%;
}

header {
  text-align: center;
}

.sitelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: var(--background);
  display: inline-block;
}

.topnav a {
  float: left;
  display: block;
  color: var(--primary_colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--primary_colour);
  color: black;
}

.right {
  text-align: right;
}

.active {
  background-color: var(--background);
  color: white;
  text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}

.me {
  max-width: 200px;
  border-radius: 50%;
  border: 5px var(--secondary_colour) solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.homeTitle {
  text-align: center;
}

.homeText {
  text-align: justify;
}

.footer {
   position: fixed;
   bottom: 0;
   margin-bottom: 1%;
}


/**
video {
        height: 100vh !important; 
        width: 100% !important;
        object-fit: cover !important; // use "cover" to avoid distortion
        position: absolute !important;
    }
**/

.videoContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video 
{
    height: 100%;
    width: 100%;
    position: absolute;
}
