{% include "header.html" %}

    <!-- Learning about flashes in Flask. I wish I knew sooner. -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<form method="POST">

<div class="row">
    <div class="col-4">
        <strong>Damage</strong>
        <p>On a scale of 0-10, with 0 being no damage and 10 being catastrophic, how bad is the damage?</p>       
    </div>
    <div class="col-8">
        <input type="number" name="damage" pattern="[0-9]*" inputmode="numeric">
    </div>
</div>

<div class="row">
    <div class="col-4">
        <strong>Reproducibility</strong>
        <p></p>
    </div>
    <div class="col-8">
        <input type="number" name="reproducibility" pattern="[0-9]*" inputmode="numeric">
    </div>
</div>
    
<div class="row">
    <div class="col-4">
        <strong>Exploitability</strong>
        <p></p> 
    </div>
    <div class="col-8">
        <input type="number" name="exploitability" pattern="[0-9]*" inputmode="numeric">
    </div>
</div>
    
<div class="row">
    <div class="col-4">
        <strong>Affected Users</strong>
        <p></p>
    </div>
    <div class="col-8">
        <input type="number" name="affectedUsers" pattern="[0-9]*" inputmode="numeric">
    </div>
</div>    

<div class="row">
    <div class="col-4">
        <strong>Discoverability</strong>
        <p>How easy is it to discover the vulnerbaility?</p>
        <p>This is treated as a 10 as we shouldn't reward 'Security by obscurity'.</p>
    </div>
    <div class="col-8">
        <input type="number" name="discoverability" pattern="[0-9]*" inputmode="numeric" placeholder="10" disabled>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <input type="submit" value="Submit">
    </div>
</div>

</form>


<p>{{data}}</p>

{% include "footer.html" %}